.details-edit {
  width: 70%;
}

.treeNode {
  display: flex;
  align-items: center;
  padding: 2px 2px;
}

.treeNode:hover {
  background: rgb(237, 237, 237);
}

.contextMenuIcon{
  display:none;
}

.treeNode:hover .contextMenuIcon{
  display: block;
}

.selectedNodes{
  height:100px;
  padding: 10px;
  border: thick solid black;
  margin: 10x 10px;
  overflow: auto;
}

.unSelectableNode{
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px
}