.table {
  border-collapse: collapse;
  float: left;
  height: 20px;
  margin-right: 8px;
}
thead {
  border-top: 0;
}
.table tr:last-child td {
  border-top: none;
  white-space: nowrap;
  border-bottom: 1px solid #dee2e6;
}
.contact-edit {
  border-top: 1px solid #dee2e6;
}
.table th {
  border: none !important;
}
.table td,
.table th {
  border-top: none !important;
}
